<section class="portfolio">
    <h2 class="title">Portfolio</h2>

    <div class="templates">
        <div class="item">WEB 
            <br>DESIGN</div>
        <div class="item dark">MOBILE
            <br> DESIGN</div>
        <div class="item">LOGO
            <br> DESIGN</div>
        <div class="item dark">WEB APPLICATION
            <br> DEVELOPMENT</div>
        <div class="item">MOBILE APPLICATION 
            <br>DEVELOPMENT</div>
        <div class="item dark">PWA
            <br> DEVELOPMENT</div>
    </div>
</section>
