<section class="sec">
    <div class="container">
      <h2>Skills</h2>
      <p class="description">
        
Problem-Solving , Teamwork , Time Management ,  Creativity , Critical Thinking , Work Under Pressure , Decision Making
      </p>
  
      <div class="content">
        <div class="focus-area">
          <h3>MY FOCUS</h3>
          <hr />
          <ul>
            <li>UI/UX Design</li>
            <li>Responsive Design</li>
            <li>Web Design</li>
            <li>Mobile App Design</li>
          </ul>
        </div>
  
        <div class="bars">
          <div class="skill">
            <span>HTML</span>
            <div class="progress"><div class="progress-bar html"></div></div>
          </div>
          <div class="skill">
            <span>CSS</span>
            <div class="progress"><div class="progress-bar css"></div></div>
          </div>
          <div class="skill">
            <span>JavaScript</span>
            <div class="progress"><div class="progress-bar js"></div></div>
          </div>
          <div class="skill">
            <span>React</span>
            <div class="progress"><div class="progress-bar react"></div></div>
          </div>
          <div class="skill">
            <span>Photoshop</span>
            <div class="progress"><div class="progress-bar photoshop"></div></div>
          </div>
        
        
          <div class="skill">
            <span>Node.js</span>
            <div class="progress"><div class="progress-bar node"></div></div>
          </div>
          <div class="skill">
            <span>WordPress</span>
            <div class="progress"><div class="progress-bar wordpress"></div></div>
          </div>
        </div>
      </div>
    </div>
  </section>
